body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #fff;
    color: #000;
    text-align: center;
    margin: 0%;
    padding: 0%;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
header h1 {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.4;
}
header h1 span {
  font-size: 36px;
  font-weight: bold;
}
nav ul {
    list-style: none;
    padding: 0%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
}
nav ul li.active a {
    color: red;
}
.images {
    display: flex;
    justify-content: center;
    gap: 0px;
    margin: 20px 0 ;
}
.images img {
    width: 170px;
    height:auto;
    border: 1px solid #000;
}
.description p {
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
}